body {
    margin: 0;
    padding: 0;
  }
  
  .container div {
    font-family: monospace;
    font-size: 20px;
    text-align: center;
  }

  .red,
  .orange,
  .yellow,
  .green,
  .blue,
  .purple {
    // This is just styling the text in the boxes to be centered
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .red {
    background-color: #ff7d7d;
  }
  
  .orange {
    background-color: #ffc158;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .green {
    background-color: #a6eaa6;
  }
  
  .blue {
    background-color: #94c1ff;
  }
  
  .purple {
    background-color: #c380c3;
  }
  
  // Shared Variables
  
  :root {
    --headerHeight: 60px;
    --middleHeight: 300px;
    --footerHeight: 100px;
  }
  