@import url('https://fonts.googleapis.com/css?family=Work+Sans');

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Work Sans', sans-serif;
  line-height: 1.5;
}

h1 {
  display: flex;
  font-size: 2.5rem;
  padding: 1rem;
  align-items: start;
  position: relative;
  color: white;

  span {
    border: 4px solid black;
    padding: 0 1rem;
  }

  span:nth-child(2){
    font-size: 2rem;
    border-left: none;
    border-right: none;
  }

  span:nth-child(3){
    flex: 1;
    font-size: 4rem;
    max-width: 700px;
  }

  &::after {
    content: '';
    background: linear-gradient(145deg, #fd5c3f, #ff00c0);
    display: block;
    width: 100%;
    height: 4rem;
    top: 2rem;
    left: 0;
    z-index: -1;
    position: absolute;
  }
}

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.show-code {
  display: block;
  white-space: pre-wrap;
  font-size: 1.2rem;
  font-family: monospace;
  z-index: 2;
  padding: 1em;
  background-color: #f6f6f6;

}

.example-section {
  display: flex;
  flex-wrap: wrap;
}

.example-section .container {
  resize: horizontal;
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 30px 30px;
    border-color: transparent transparent black transparent;
    cursor: pointer;
  }
  &::before {
    content: 'resize me!';
    position: absolute;
    bottom: 10px;
    right: 20px;
    display: block;
  }
}

.example-section > div:first-child {
  flex: 2;
  padding-right: 1em;
}

.example-section > div:nth-child(2) {
  flex: 1;
  height: calc(#{var(--headerHeight)} + #{var(--middleHeight)} + #{var(--footerHeight)});
  overflow-y: scroll;
  
}

.example-section > div:nth-child(3) {
  flex-basis: 100%;
  justify-content: flex-end;
  display: flex;
}

.intro-text-area {
  display: flex;

  p:first-child {
    flex: 2;
    padding-right: 3em;
  }

  p:last-child {
    flex: 1;
    border: 1px dashed gray;
    padding: 1em;
  }
}