* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.show-code {
  display: block;
  white-space: pre-wrap;
  font-size: 1.2rem;
  font-family: monospace;
  z-index: 2;
  padding: 1em;
  background-color: #f6f6f6;

}

.example-section {
  display: flex;
  flex-wrap: wrap;
}

.example-section .container {
  resize: horizontal;
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 30px 30px;
    border-color: transparent transparent black transparent;
    cursor: pointer;
  }
  &::before {
    content: 'resize me!';
    position: absolute;
    bottom: 10px;
    right: 20px;
    display: block;
  }
}

.example-section > div:first-child {
  flex: 2;
  padding-right: 1em;
}

.example-section > div:nth-child(2) {
  flex: 1;
  max-height: 460px;
  overflow-y: scroll;
  
}

.example-section > div:nth-child(3) {
  flex-basis: 100%;
  justify-content: flex-end;
  display: flex;
}